@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

body{
    margin-top:60px;
	background-color: white;
	color: black;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	background: url("P1100193.jpg") no-repeat top center fixed;
    background-size: cover;
    height: auto%;
    width: 100%;
	z-index: 1;
	}

div {
	background-color: white;
	width:100%;
}

div.transparent {
	background-color: rgba(0,0,0,0);
	width:100%;
	height:200px;
	z-index:2;
}

.menuBar{
    width:100%;
    height:60px;
    display:block;
    position:fixed;
    top:0;
    left:0;
	background-color: rgba(0,0,0,0.8);
	color:#FFFFFF;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	z-index:10;
    }

.logo{
	padding-top:5px;
	width:150px; 
	height:50;
    
    }

.menuBar a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.menuBar a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
.menuBar a:hover {
	text-decoration: underline;
	color: #EAEAEA;
}
.menuBar a:active {
	text-decoration: none;
}
	
.about_blurb {
	position: absolute;
	top: 30%;
	width:30%;
	margin-left:60%;
	font-size: 26px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
	
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

.heading {
	padding:15px;
	
}

.project_image {
	width:300px;
	height:300px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	
}

.intro {
	background-image:url(P1090371.jpg);
	width:100%;
	height:auto;
	
}

#contact {
	padding-top:150px;
	padding-bottom:150px;
	background-color:white;
	
}
/* Centre the form within the page */
form {
    margin:0 auto;
    width:350px;
}

textarea {
	height:213px;
}

input, textarea {
    width:350px;
    background-color: rgba(0,0,0,0);
    border:1px solid #999999;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #000000;
}
#submit {
	width: 120px;
	align: center;	
}

#submit:hover {
	color: #999999;
	background-color: #EEEDED;
}